{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Assisto - 500</title>
	<link href="https://fonts.googleapis.com/css?family=Nunito:400,700" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="./static/404style.css" />
    <link rel="stylesheet" href="{% static "assisto/style/404p.css" %}">
</head>

<body>

	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404"></div>
			<h1>500</h1>
			<h2>Oops! Erreur Interne du Serveur</h2>
			<p>Une erreur interne du serveur s'est produite. Veuillez réessayer ultérieurement.</p>
			<a href="/dashboard">retour à la page d'accueil</a>>
		</div>
	</div>

</body>

</html>